body {
  font-family: 'Open Sans';
}
.bg-laboratoria {
  background-color: #FFE521;
}

.col-10 {
  padding: 0%;
}

.btn-secondary {
  background-color: #FF009E;
  color: white;
}

.container-fluid {
  background: #FF009E;

}