body {
  font-family: 'Open Sans';
}
#navBar {
  background-color: #FFE521;
}

.col-10 {
  padding: 0%;
}

#upBar {
  background-color: #56F89A;
  padding: 0.5em;
}

#imgPersonal {
  border-radius: 100%;
  
}