/*Cuadros de data dashboard*/
.box{
  border-radius: 20px;
  background-color: #F2F2F2;
  width: 80%;
  height: 50%;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5%;
  margin: 3%;
  margin-left: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
/*P dashboard*/
.infoD{
  font-size: 15px;
}
/*Botón de data dashboard*/
.b-d{
  background-color: #FFE521;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 20%;
  padding: 1%;
  margin: -1%;
  float: right;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.b-d:hover{
  background-color: #56F89A;
  color: black;
}

/*RESPONSIVE*/

/* Small devices (celulares máx 600px) */
@media only screen and (max-width: 600px) {
h2{
  font-size: 18px;
}
  .box{
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 80%;
    height: 55%;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5%;
    margin: 3%;
    margin-top: 8%;
    margin-left: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
/*P dashboard*/
.infoD{
  font-size: 12px;
}
/*Botón de data dashboard*/
.b-d{
  background-color: #FFE521;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  width: 25%;
  padding: 0.5%;
  margin-bottom: 10%;
  float: right;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.b-d:hover{
  background-color: #56F89A;
  color: black;
}
}

/* Small devices (tablets) */
@media only screen and (max-width: 768px) {
  h2{
    font-size: 16px; 
  }
  .infoD{
    font-size: 12px;
  }
  .b-d{
    background-color: #FFE521;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 25%;
    padding: 0.5%;
    margin-bottom: 10%;
    float: right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .b-d:hover{
    background-color: #56F89A;
    color: black;
  }
}