body {
  background-color: #FFE521;
}

.container {
  width: 100%;
  margin-top: 15px;
}

.logoLaboratoria {
  margin-left: 10px;
}

.element {
  margin: 10px;
  padding: 10px;
}

.element p {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.whiteCard {
  background-color: white;
  margin: 10px;
  padding: 10px;
}

.site {
  background-color: #56F89A;
}

.generation {
  background-color: #FFE521;
}

.turn {
  background-color: #56F89A;
}

.student {
  border: 1px solid #FF009E;
  padding: 0;
}

.studentProgress {
  background-color: #FF009E;
  margin: 0;
}

.studentProgress p {
  margin: 0;
}