/*Global*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*cada vez que utilize la clase container, tomara estos estilos*/

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.element {
  margin: inherit;
  padding: inherit;
  display: inherit;
  max-height: inherit;
}

.active .element {
  display: block;
}

.element p {
  margin: inherit;
  padding: inherit;
  max-height: inherit;
  font-size: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.whiteCard {
  background-color: white;
  max-height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  transition: 0.5s ease-out;
}

.active {
  max-height: 1000px;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
}
.row:after {
  clear: both;
}

[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left;
}

.col-1 {
  /* (1/12) x 100 */
  width: 8.333333333%;
}

.col-2 {
  /* (2/12) x 100 */
  width: 16.666666667%;
}

.col-3 {
  /* (3/12) x 100 */
  width: 25%;
}

.col-4 {
  /* (4/12) x 100 */
  width: 33.333333333%;
}
.student {
  padding: 0;
  margin: inherit;
  max-height: inherit;
}

.studentProgress {
  background-color: #FF009E;
  margin: 0;
  padding: inherit;
  max-height: inherit;
  }
.col-5 {
  /* (5/12) x 100 */
  width: 41.666666667%;
}

.col-6 {
  /* (6/12) x 100 */
  width: 50%;
}

.col-7 {
  /* (7/12) x 100 */
  width: 58, 333333333%;
}

.col-8 {
  /* (8/12) x 100 */
  width: 66, 666666667%;
}

.col-9 {
  /* (9/12) x 100 */
  width: 75%;
}

.col-10 {
  /* (10/12) x 100 */
  width: 83, 333333333%;
}

.col-11 {
  /* (11/12) x 100 */
  width: 91, 666666667%;
}

.col-12 {
  /* (12/12) x 100 */
  width: 100%;
}