.container-fluid{
  background: #fafafa;
  padding: 0%;
  margin: 0%;
}
.header{
  background: yellow;
  display: flex;
  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	overflow: hidden; /* Hacemos que la cabecera tenga una posición fija */
}

.logoHeader {
  background: white; 
  display: flex;
  width: auto;
  height: 63px;
  margin-bottom: 0%;
  border-right: 1px solid #ededed;
  overflow: hidden; 
}

#laboratoriaLogo {
  text-align: center;
  padding: 1em 2em;
  overflow: hidden; 

}

/* -------------Estilos Barra Menu---------------*/

.contenedorMenu{
  overflow: hidden;
  height: 100vh;
  background: white;
  border-right: 1px solid #ededed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.menu {
  list-style: none;
  padding: 0%;
  margin: 0;
  overflow: hidden; 
}

.menuLink {
  display: block;
  text-decoration: none;
  color: black;
  overflow: hidden; 
}

/* Cambiar el color del enlace al desplazar el mouse */
.menuLink:hover {
  background: #FF009E;
  color: black;
  overflow: hidden; 
}

/* Contenido escrito y visual*/
.content{
  padding: 2.250em 2.250em;
  overflow-y: auto;
  overflow-y: hidden;}

  /* -------Veladura para carga-------- */
  .loading-background-panel {
    background: #0c0c0c;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}