.container-fluid{
  background: #fafafa;
  padding: 0%;
  margin: 0%;
}
.header{
  background: yellow;
  display: flex;
  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	overflow: hidden; /* Hacemos que la cabecera tenga una posición fija */
}

.logoHeader {
  background: white; 
  display: flex;
  width: auto;
  height: 63px;
  margin-bottom: 0%;
  border-right: 1px solid #ededed;
  overflow: hidden; 
}

#laboratoriaLogo {
  text-align: center;
  padding: 1em 2em;
  overflow: hidden; 

}

/* -------------Estilos Barra Menu---------------*/

.contenedorMenu{
  overflow: hidden;
  height: 100vh;
  background: white;
  border-right: 1px solid #ededed;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.menu {
  list-style: none;
  padding: 0%;
  margin: 0;
  overflow: hidden; 
}

.menuLink {
  display: block;
  text-decoration: none;
  color: black;
  overflow: hidden; 
}


/* Cambiar el color del enlace al desplazar el mouse */
.menuLink:hover {
  background: #FF009E;
  color: black;
  overflow: hidden; 
}

/* Contenido escrito y visual*/
.content{
  padding: 2.250em 2.250em;
  overflow-y: auto;
  overflow-y: hidden;
}
/* -------------Estilos Barra Menu---------------*/

/* .contenedorMenu {
 
  height: 100vh;
}
.contenedor {
  display: flex;
  justify-content: space-between; 
  height: 100vh;  
}

.logo {
  text-align: center;
  line-height: 45%;
  margin-right: auto;
  padding: 1em 1em;
}

.perfilUser {
  background: #fafafa;
  color: #737373;
  text-align: justify;
  padding: 2em 1em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  
}

.iconMenu {
  display: block;
  width: 40px;
  font-size: 30px;
  background: white;
  text-align: center;
  line-height: 45%;
  margin-right: auto;
}

.nav {
  position: absolute;
  top: 60px;
  left: 0;
  width: 105%;
  transition: all 0.4s;
  border-right: 1px solid #737373;    
  height: 100vh;
}

.menu {
  list-style: none;
  padding-top: 19%;
  margin: 0%;
  width: 100%;
  cursor: pointer;
}

.menuLink {
  display: block;
  padding: 20px;
  background: #ffffff;
  text-decoration: none;
  color: black;
}

.menuLink:hover {
  background: #FF009E;
  color: black;
}

.view {
  left: 0;
}

