/*Logo*/
.logo{
    background-color: #ffffff;
    margin: 0%; 
    background-position: center;
    width: 60%;
    background-position: center;
    margin-left: 25%;
    padding-top:6%;
  
}
/*Columna amarilla*/
.yellowC {
    background-color: #56F89A;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    height: auto;
    border-left: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}
/*Columna Menú gris*/
.menuGrey {
    background-color:#F2F2F2;
    border: 1px solid #BDBDBD;
    margin: 0%;
    height: 100vh;
}
/*foto valentina*/
.photo1{
    border-radius: 50%;
    width: 40%;
    height: 30%;
    margin-left: 5%;
    border: 2px solid #FF009E;
    float: left;
}
/*Perfil con nombre de valentina*/
.profile {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    display: inline-block;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 25%; 


h3{
    display: inline;
    text-align: center;
}

/*Súper Menú*/
.menu {
    width: 100%;
    margin-top: 5%; 
}

.menu a {
    color: black; 
    display: inline;
    width: 100%;
    padding: 5%;
    margin: 0%; 
    text-decoration: none; 
}

.menu a:hover {
    background-color: #FF009E; 
}

.current {
    background-color:#56F89A; 
}

ul {
    list-style-type: none;
    height: 100%;
}

li{
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    padding: 5%;
    height: 100%;
}

.icon {
    font-size: 30px;
    color: gray;
    padding-right: 3%; 
    display: inline-block;
    text-align: left;
    border-bottom: none;
}

.icon:hover {
    background-color: #56F89A;
}
/*Fin Menú*/

/*Cerrar sesión*/
.endS{
    margin-top: 10%;
}
.endS a {
    color: black; 
    display: inline;
    padding: 5%;
    text-decoration: none; 
    border: 1px solid #BDBDBD;
    background-color: honeydew;
    width: 100%;
} 
.endS a:hover {
    background-color: #56F89A; 
}

/*Foto de inicio*/
.labPhoto{
    background-size: cover;
    opacity: 0.5;
    filter: blur(1px);
    margin: 0px;
    padding: 0%;
    top: 0%;
    height: 100vh;
}

/*RESPONSIVE*/

/* Small devices (celulares máx 600px) */
@media only screen and (max-width: 600px) {

body{
    background-color: white;
}
/*Logo desaparece*/
.logo{
    text-align: center;
    padding-left: 10%;
}
/*Para titulos*/
.yellowC {
    background-color: #56F89A;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 4%;
    height: 4em;
    border: 1px solid #BDBDBD;
}
.photo1{
    width: 20%;
    height: 20%;
}
.profile{
    text-align: right;
}
/*Menu chiquitito*/
.menu {
    width: 100%;
    margin-top: 60%; 
}

.menu a:hover {
    background-color: #56F89A; 
}

.current {
    background-color: #56F89A; 
}

ul {
    list-style-type: none;
    height: 100%;
}

li{
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    padding: 5%;
    height: 100%;
    border: 1px solid #BDBDBD;
    text-align: center;
}
/*desaparecen los iconos*/
.icon {
    display: none;
}
/*foto en auto*/
.labPhoto{
    background-size: cover;
    opacity: 0.5;
    filter: blur(1px);
    margin: 0px;
    padding: 0%;
    top: 0%;
    height: auto;
}
}


/* Small devices (tablets) */
@media only screen and (max-width: 768px) {
    .logo{
        background-color: #ffffff;
        padding: 10%;
        margin: 0%; 
        background-position: center;
        border-left: 1px solid #BDBDBD;
        border-top: 1px solid #BDBDBD;
    }
    /*Para titulos*/
    .yellowC {
        background-color: #FFE521;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding-top: 4%;
        height: 4.5em;
        border: 1px solid #BDBDBD;
    }
    .photo1{
        border-radius: 50%;
        text-align: center;
        width: 50%;
        height: 30%;
        margin-left: 5%;
    }
    /*Perfil con nombre de valentina*/
    .profile {
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 15px;
        text-align: center;
        padding-top: 10%;
        padding-bottom: 10%; 
        margin-right: 5%;
        float: right;
    }
    .menuGrey{
        height: auto;
    }
    /*Menu más o menos chiquitito*/
    .menu {
        width: 100%;
        margin-top: 60%;
    }
    
    .menu a {
        color: black; 
        display: inline;
        width: 100%;
        padding: 5%;
        margin: 0%; 
        text-decoration: none; 
    }
    
    .menu a:hover {
        background-color: #56F89A; 
    }
    
    .current {
        background-color: #FFE521; 
    }
    
    ul {
        list-style-type: none;
        height: 100%;
    }
    
    li{
        list-style: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        padding: 5%;
        height: 100%;
        text-align: center;
    }
    .icon {
        font-size: 10px;
        color: gray;
        padding-right: 3%; 
        display: inline-block;
        text-align: left;
        border-bottom: none;
    }
    
    /*foto en auto*/
    .labPhoto{
        background-size: cover;
        opacity: 0.5;
        filter: blur(1px);
        margin: 0px;
        padding: 0%;
        top: 0%;
    }
    }

    table {
        border: solid black;
    }

    td {
        border: dotted red;
    }
    

 

